.fz20 {
    font-size: 20px;
    line-height: 1.8;
}

.mainBanner {
    p {
        margin: 74px 0;
    }

}

.four_one {
    background-color: #020202 !important;

    a {
        color: white;
    }

    #logo {
        svg {
            width: 250px;

            path,
            polygon {
                fill: white !important;
            }
        }
    }
}

#logo {
    margin: 44px 0;

    svg {
        width: 250px;

        path {}
    }
}

.indexPage {
    #wrapper {
        margin-top: 74px;
    }
}

#ft_wr{
    
    justify-content: center;
    color: white;
    text-align: center;
}

.mainLatest .subBanner .container{
    margin-bottom: 50px;
}

#ft{
    margin-top: 10rem;

}



#container_title span {
    display: none;
}
#bo_v_con {
    width: 100%;
    overflow: hidden;
    background-color: black;
    color: white;
}
#bo_v {
    background: #000;
}

/* 폰트어썸 되살리기 */
// i.fa+.sound_only{
//     position: unset;
//     display: inline-block;
//     margin: 0 !important;
//     padding: 0 5px !important;
//     font-size: 14px;
//     line-height: 1;
//     overflow: visible !important;
//   }

#ctt {
    background: #000 !important;
    color: white !important;
}

//akply
.tbl_head01 tr td {
    color: #ffffff;
    background-color: black !important;
}

.tbl_wrap table {
    background: none !important; 
    color: white !important;
}

.sv_member{
    color: white;
}

#bo_v_top ul {
    background: black;
    color: white;
}
#bo_v_title .bo_v_tit {
    color: white;
}
#bo_list_total {

    color: white;
}


// gnb
#gnb,
.btn_b01, 
.btn_b01,
.gnb_1dli a{
    &:hover{
    color: #ffd900 !important;
    text-decoration: none !important;
}
}

.gnb_1dli a{
    .kr{
        display: none;
    }
    .en{
        display: block;
    }
    &:hover{
        .en{
            display: none;
        }
        .kr{
            display: block;
        }
    }
}
#gnb .gnb_1dli {
    line-height: 55px;
    padding: 0px;
    position: relative;
    width: 210px !important;
    text-align: center;
}
.gnb_1da {
    display: block;
    font-weight: bold;
    /* padding: 0 20px; */
    text-decoration: none;
    font-size: 28px;
    width: 210px !important;
    text-align: center;
}

//menu
.ctt {
    align-items: center;
}


//익명게시판
#bo_vc article {
    margin: 0; 
    background-color: white;
    
}

.cmt_btn span.total:after {
    // position: absolute;
    // bottom: -17px;
    // left: 0;
    // display: inline-block;
    background: none;
    border-radius: 15px solid #ccc !important;

} 

#cd#bo_vc button span .bo_vc_act>li{
    color: black !important;
}

.more_opt li a {
    background: none !important;
    color: white !important;
}
// #bo_vc article {
//     border-bottom-left-radius: 3px;
//     border-bottom-right-radius: 3px;
// }
// .cmt_btn {
//     border-start-start-radius: 3px;
//     border-start-end-radius: 3px;
// }


// location
.bo_btn_top{
    justify-content: center !important;
    align-items: center !important;
}

#gnb .gnb_1dali>a {  

    .en{
        display: block;
    }
    .kr{
        display: none;
    }
}





#ft {
    margin-top: 5rem !important;
}

.location_map{
    text-align: center;
    color: white;
    font-size: large;
}


// 할 일 (ft)→1. 전화번호 지우기   2.인스타 아이콘 넣고 url연결   3.네이버 플레이스 넣기
// akply 익명게시판으로 바꾸기 → 이름 바꿈 
// 401페이지 이벤트 페이지로 바꾸기..? → 일단 이름만 바꿈