.fz20 {
    font-size: 20px;
    line-height: 1.8;
}

.mainBanner {
    p {
        margin: 74px 0;
    }

}

.four_one {
    background-color: #020202 !important;

    a {
        color: white;
    }

    #logo {
        svg {
            width: 250px;

            path,
            polygon {
                fill: white !important;
            }
        }
    }
}

#logo {
    margin: 44px 0;

    svg {
        width: 250px;

        path {}
    }
}

.indexPage {
    #wrapper {
        margin-top: 74px;
    }
}

#ft_wr{
    
    justify-content: center;
    color: white;
    text-align: center;
}

.mainLatest .subBanner .container{
    margin-bottom: 50px;
}

#ft{
    margin-top: 10rem;

}



#container_title span {
    display: none;
}
#bo_v_con {
    width: 100%;
    overflow: hidden;
    background-color: black;
    color: white;
}
#bo_v {
    background: #000;
}

/* 폰트어썸 되살리기 */
// i.fa+.sound_only{
//     position: unset;
//     display: inline-block;
//     margin: 0 !important;
//     padding: 0 5px !important;
//     font-size: 14px;
//     line-height: 1;
//     overflow: visible !important;
//   }

#ctt {
    background: #000 !important;
    color: white !important;
}

//akply
.tbl_head01 tr td {
    color: #ffffff;
    background-color: black !important;
}

.tbl_wrap table {
    background: none !important; 
    color: white !important;
}

.sv_member{
    color: white;
}

#bo_v_top ul {
    background: black;
    color: white;
}
#bo_v_title .bo_v_tit {
    color: white;
}
#bo_list_total {

    color: white;
}

#gnb,
.btn_b01, 
.btn_b01,
.gnb_1dli a{
    &:hover{
    color: #ffd900 !important;
    text-decoration: none !important;
}
}




.bo_btn_top{
    justify-content: center !important;
    align-items: center !important;
}


#gnb .gnb_1dali:hover>a {
    color: #ffd900 !important;
    list-style: none !important;
}

#ft {
    margin-top: 5rem !important;
}